<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestDatabase.My.MySettings.wemmersTrainingExamplesConnectionString"
            connectionString="Data Source=185.41.125.20,9204;Initial Catalog=wemmersTrainingExamples;User ID=wemmersStudent;Password=Xander1974;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>